<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
	<link rel="stylesheet" href="/CSS/cabecera.css">
    <link rel="stylesheet" href="/CSS/practica.css">
    <meta charset="utf-8">
    <title>Error 404 - FaceBluff</title>
  </head>
    <body>
        <% if(currentUser==null){ %>
            <%- include("headerNoLogged.ejs"); %>
        <% }else{ %>
            <%- include("headerLogged.ejs"); %>
        <% } %>

            <div class="content">
                <div class="titulo">
                    <h1>Error 404</h1>
                    <h2>No encontramos la página que buscas</h2>
                    <img src="/images/404.gif" alt="animacion de 404">
                </div>
            </div>
    </body>
</html>