<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <link rel="stylesheet" href="/CSS/cabecera.css">
    <link rel="stylesheet" href="/CSS/practica.css">
    <link rel="stylesheet" href="/css/answer.css">
    <meta charset="utf-8">
    <title>Answer - FaceBluff</title>
  </head>
  <body>
    <%- include("headerLogged.ejs") %>
    <div class="content">
      <div class="titulo">
        <h1>¿Aquí iria la Pregunta?</h1>
      </div>
      <div class="seccion">
        <div class ="seccionRespuestas">
          <form class="" action="" method="post">

            <div class="respuesta"><input class="" type="radio" name="gender" value="1" checked>Aqui van</div>
            <div class="respuesta"><input class="" type="radio" name="gender" value="2">las posibles</div>
            <div class="respuesta"><input class="" type="radio" name="gender" value="3">respuestas</div>

            <div class="respuesta"><input class="" type="radio" name="gender" value="3">Otra:&#32;<input class="inputText" type="text" name="" value=""></div>
            <div class="contBoton">
					    <span><input type="submit" value="Contestar" class="boton"></span>
    				</div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
