<div class="header">
    <h1 class="tituloPagina">FaceBluFF</h1>
    <!-- Botones para no Registrado-->
      <div class="user">
          <span><h1>Usuario No Registrado</h1></span>
      </div>
        <div class="nav">
        <a href="/login" class="linkNav"><div class="botonNav">Entrar</div></a>
        <a href="/new_user" class="linkNav"><div class="botonNav">Nuevo Usuario</div></a>
    </div>
  </div>