<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
	<link rel="stylesheet" href="/CSS/cabecera.css">
    <link rel="stylesheet" href="/CSS/practica.css">
	<link rel="stylesheet" href="/CSS/new_question.css">
    <meta charset="utf-8">
    <title>Bienvenido - FaceBluff</title>
  </head>
  <body>
		<%- include("headerLogged.ejs") %>
		<div class="content">
			<div class="titulo">
				<h1>Añadir Pregunta</h1>
			</div>
			<div class="seccion">
				<div class="anadirPregunta">
					<% if (errors != null) { %>
						<div class="contError">
							<ul>
							<% errors.forEach(error=>{ %>
								<li><span class="error"><%= error.msg %></span></li>
							<% }) %>
							</ul>
						</div>
					<% } %>
					<form class="formularioNewQuestion" action="/questions/addQuestion" method="post">
						<div class="contDatosNewQuestion">
							<span>Pregunta</span><span><input type="text" class="inputText" name="question"/></span>
							<span>Respuestas (separador ;)</span><span><textarea class="inputText" name="answers"></textarea></span>
							<!--<span>Respuesta Correcta (nº)</span><span><input type="text" class="inputText" name="correctAnswer"/></span>-->
						</div>
						<div class="contBoton">
							<span><input type="submit" value="Crear" class="boton"/></span>
						</div>		
					</form>
				</div>
			</div>
		</div>
  </body>
</html>
