<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
	<link rel="stylesheet" href="/CSS/cabecera.css">
    <link rel="stylesheet" href="/CSS/practica.css">
	<link rel="stylesheet" href="/CSS/new_user.css">
    <meta charset="utf-8">
    <title>Nuevo usuario - FaceBluff</title>
  </head>
  <body>
	<%- include("headerNoLogged.ejs") %>
	<div class="content">
		<div class="titulo">
			<h1>Nuevo usuario</h1>
		</div>
		<div class="seccion">
			<div class="newUser">
					<% if (errors != null) { %>
						<div class="contError">
							<ul>
							<% errors.forEach(error=>{ %>
								<li><span class="error"><%= error.msg %></span></li>
							<% }) %>
							</ul>
						</div>
					<% } %>
				<form class="formularioNewUser" action="/users/addUser" method="POST" enctype="multipart/form-data">
					<div class="contDatosNewUser">
						<span>Email</span><span><input type="text" name="email" class="inputText"/></span>
						<span>Contraseña</span><span><input type="password" name="pass" class="inputText"/></span>
						<span>Nombre completo</span><span><input type="text" name="name" class="inputText"/></span>
						<span>Sexo</span>
						<span>
							<input type="radio" name="gender" class="inputRadio" value="Hombre" checked="checked"/> Masculino
							<input type="radio" name="gender" class="inputRadio" value="Mujer"/> Femenino
							<input type="radio" name="gender" class="inputRadio" value="Otro"/> Otro
						</span>
						<span>Fecha de nacimiento</span><span><input type="date" name="birth" class="inputText"/></span>
						<span>Imagen de perfil</span><span><input type="file" name="image" class="inputArchivo"/></span>
					</div>
					<div class="contBoton">
						<span><input type="submit" value="Crear Usuario" class="boton"/></span>
					</div>		
				</form>
			</div>
		</div>
	</div>
  </body>
</html>
