<div class="contNotificaciones">
    <div class="titulo"> <h1>Notificaciones</h1></div>
    <div class="notificaciones">
            <a href="/users/profile/3">
                <div class="contNotificacion">
                    <img src="/users/getUserImage/carr@ucm.es" alt="Imagen de Perfil" class="miniaturaPerfil">
                    <span>ErrrChar ha adivinado tu  respuesta</span>
                </div>
                </a>
    </div>
</div>
