<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/cabecera.css">
    <link rel="stylesheet" href="/css/practica.css">
    <link rel="stylesheet" href="/css/questions.css">
    <title>Preguntas - FaceBluff</title>
  </head>
  <body>

    <%- include("headerLogged.ejs") %>
    </div>

    <div class="content">

      <div class="titulo">
        <h1>Preguntas seleccionadas aleatoriamente</h1>
      </div>

      <div class="seccion">

        <!--CUANDO LAS PREGUNTAS SEAN REALES HAY QUE RODEARLAS DE "<a>"-->
		<div class="preguntas">
			<div class="contPreguntas">
			  <div class="pregunta">
				¿Cual es la peor pelicula de la historia?
			  </div>
			  <div class="pregunta">
				¿En qué escuela estudiaste?
			  </div>
			</div>

			<div class="contCrearPregunta">
			  <div class="titulo">
				<h1>¡Añade tus preguntas!</h1>
			  </div>
			  <div class="contBoton">
				  <div class="contBoton">
						<span><input type="button" value="Crear Pregunta" onClick="location.href = './add_question.html';" class="boton botonAncho"/></span>
					</div>
				</div>
			 </div>
		</div>

      </div>
    </div>

  </body>
</html>
