<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/cabecera.css">
    <link rel="stylesheet" href="/css/practica.css">
    <link rel="stylesheet" href="/css/questions.css">
    <title>Preguntas - FaceBluff</title>
  </head>
  <body>

    <%- include("headerLogged.ejs") %>
    </div>

    <div class="content">

      <div class="titulo">
        <h1>Preguntas seleccionadas aleatoriamente</h1>
      </div>

      <div class="seccion">

    
		<div class="preguntas">
			<div class="contPreguntas">
					<% if(preguntas == null || preguntas==0){ %>
						<h2>No hay preguntas disponibles</h2>
						<% }else{ preguntas.forEach((pregunta)=>{%>
			  	<div class="pregunta"><a href="/questions/question/<%=pregunta.id%>"><%= pregunta.text %></a></div>
				<% })}; %>
				
			<div class="contCrearPregunta">
			  <div class="titulo">
				<h3>¡Añade tus preguntas!</h3>
			  </div>
			  <div class="contBoton">
				  <div class="contBoton">
						<span><input type="button" value="Crear Pregunta" onClick="location.href = './add_question.html';" class="boton botonAncho"/></span>
					</div>
				</div>
			 </div>
		</div>

      </div>
    </div>

  </body>
</html>
