*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 20px;
    background-color: #400D2A;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #5A142A;
    padding: 30px;
    align-items: center;
}

#iniciar{
    font-size: 50px;
    margin-right: 10px;
    background-color: #DB2B30;
    border:0;
    padding: 10px;
}
.config{
    display: flex;
    align-items: center;
}

#board{
    border:10px solid #140A25;
    margin-left:50px;
    margin-right: 50px;
    background-color: #140A25;
    border-radius: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    text-align: center;
}