.seccionPreguntas{
  display: flex;
  flex-direction: column;
  font-size: 30px;
  align-items: center;
  justify-content: center;
}

.seccionCrearPregunta{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pregunta{
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  width: 100%;
  text-align: center;
  border: 2px solid white;
}
