<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <link rel="shortcut icon" href="image/logo.png">
    <link rel="stylesheet" href="css/index.css" media="screen">
    <link rel="stylesheet" href="css/print.css" media="print">

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Login</title>
  </head>
  <body>
	<div class="header">
		<img class="logo" src="image/logo.png" alt="Logo"/>
	</div>
	<div class="content">
		<div class="contenedorLogin">
            <form class="formularioLogin" method="POST" action="/login"</form>
                <div class="contenedorDatosLogin">
                    <span>Email</span><input type = "text" name = "email" class="inputLogin"/>
                    <span>Contraseña</span><input type = "password" name = "email" class="inputLogin" />
                </div>
                <div class = "contenedorBoton">
                    <input class="botonAceptar" type = "submit" value="Aceptar" />  
                </div> 
            </form>
        </div>
        <% if (errorMsg != null) { %>
        <div class="contenedorError">
            <span class="error"><%= errorMsg %></span>
        </div>
        <% } %>
	</div>
  </body>
</html>
