@import "https://fonts.googleapis.com/css?family=K2D";

*{
	margin: 0;
	padding: 0;
	border: solid 0px red;
}

body{
	font-family: K2D;
	background-color: #C5CAE9;
}

.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #212121;
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
}

.logo{
	float: left;
	width: 150px;
	height: 150px;
	margin-left: 20px;
}

.user{
	float: right;
	display: flex;
	flex-direction: row;
	color: #BDBDBD;
	align-items: center;
	margin-right: 20px;
}

.logout{
	text-decoration: none;
	color: #C5CAE9;
	font-weight: bold;
}

.user-info{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.user-icon{
	width: 100px;
	height: 100px;
	margin: 20px;
}

.content{
	margin-top: 170px;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	border-radius: 10px;
	padding: 10px;
}

.formularioTareas{
	display: grid;
	align-items: center;

	grid-template-rows: 50px;
	grid-template-columns: 5fr 1fr;

	grid-column-gap: 50px;

	padding: 20px;


}

.inputTarea{
	width: 100%;
	height: 100%;

	border: 2px solid #303F9F;
    border-radius: 8px;

	font-size: 40px;
	
	padding-left: 20px;
}

.inputTarea:focus{
	background-color: #C5CAE9;

}

.botonAnadirTarea{
	display: flex;
	height: 100%;

	background-color: #C5CAE9;

	justify-content: center;
	align-items: center;

	border: 2px solid #303F9F;
    border-radius: 8px;

	font-size: 40px;
	color:#212121;
	
	text-decoration: none;
}

.botonAnadirTarea:hover{
	background-color: #FFC107;
}

.contenedorTareas{
	border: 4px solid #303F9F;
    border-radius: 20px;

	display: flex;
	flex-direction: column;

	justify-content: flex-start;
	padding: 20px;
	margin: 10px;
}

.tarea{
	border: 3px solid #3F51B5;
	margin: 10px;
	padding: 5px;
	border-radius: 5px;
	color:#212121;
	
	display:grid;
	
	grid-template-rows: 100%;
	grid-template-columns: 4fr 1fr;
}

.contenedorDatos{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	overflow: hidden;
	justify-content: flex-start;
}

.tarea .nombreTarea{
	flex-shrink: 0;
	font-size: 25px;
	align-self: center;
	font-weight:300;
	margin-right: 20px;
}

.finalizada{
	background-color: grey;
	display: flex;
	
	flex-direction: row;
	
	justify-content: center;
	
	background-color: #C5CAE9;
}
.finalizada .contenedorDatos{
	justify-content:center;
}

.tarea .botonTerminarTarea{
	flex-shrink: 0;
	border: 2px solid #3F51B5;
	background-color: #C5CAE9;
	border-radius: 10px;
	
	min-height: 50px;
	height: 100%;
	display:flex;
	
	flex-direction: column;
	
	justify-content: center;
	align-items: center;
	
	text-decoration: none;
	
	color:#212121;
}

.tarea .botonTerminarTarea:hover{
	background-color: #FFC107;
	color:#212121;
}

.tag{
	border: 2px solid #FFC107;
	border-radius: 10px;
	background-color: #FFC107;
	padding: 3px;
	align-self: center;
	margin-right: 5px;
}

.finalizada .tag {
	display: none;
}

.finalizada .botonTerminarTarea{
	display: none;
}

.finalizada .nombreTarea{
	text-decoration: line-through;
}

.contenedorEliminar{
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 75%;
}

.botonEliminar{
	flex-shrink: 0;
	border: 2px solid #3F51B5;
	background-color: #C5CAE9;
	border-radius: 10px;
	font-size: 40px;
	
	height: 100%;
	width: 100%;
	display:flex;
	
	flex-direction: column;
	
	justify-content: center;
	align-items: center;
	
	text-decoration: none;
	
	color:#212121;
}

.botonEliminar:hover{
	background-color: #FFC107;
	color:#212121;
}

